<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iWatched</title>

  <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
</head>

<body class="bg-dark">
  <nav class="navbar ">
    <div class="container">
      <a class="navbar-brand text-light fs-4 fw-bold " href="index.html">iWatched</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Adicionar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">+</button>
    </div>
  </nav>

  <div class="container d-grid gap-3">
    <h1 class=" fw-bold text-center p-5 pb-2" id="titulo">iWatched</h1>

    <h6 class=" text-light text-center mb-5 border-bottom border-success p-4 mb-2">Seja um cinéfilo ávido ou um
      aficionado por séries, o
      iWatched é o seu
      espaço
      pessoal para
      registrar e reviver todas as aventuras cinematográficas e televisivas que você já explorou. Mantenha um registro
      das datas em que assistiu, compartilhe suas experiências e mergulhe nas histórias que o cativaram através de nossa
      plataforma intuitiva.
      <br><br>
      Navegue pelos pôsteres e explore os detalhes de suas obras favoritas. O iWatched é a sua bilheteira pessoal para o
      mundo do entretenimento. Comece a sua jornada agora e compartilhe sua paixão pela sétima arte!
    </h6>


    <div class=" row" id="gridFilmes">

    </div>

  </div>
</body>

</html>